/* ------------- ПІДКЛЮЧЕННЯ ШРИФТІВ ------------- */

/*Підключаємо шрифт Roboto з Google Fonts (вибрала варіанти Regular та Bold)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Підключаємо інші шрифти*/
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit_Regular.woff2") format("woff2"), url("../fonts/Larsseit_Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit_Medium.woff2") format("woff2"), url("../fonts/Larsseit_Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit_Bold.woff2") format("woff2"), url("../fonts/Larsseit_Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato_Regular.woff2") format("woff2"), url("../fonts/Lato_Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato_Bold.woff2") format("woff2"), url("../fonts/Lato_Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato_Black.woff2") format("woff2"), url("../fonts/Lato_Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

/* ------------- ОСНОВНІ СТИЛІ ------------- */

body {
    font-family: "Lato";
}
.google-fonts,
.navigation,
.fonts > .text ~ div,
.priority h4 + .priority-rules {
    font-family: 'Roboto', sans-serif;
}
.google-fonts h3 {
    font-family: "Lato";
}
.navigation {
    font-weight: 700;
}
.text-font {
    font-family: "Larsseit";
}
.text-font span {
    font-weight: 700;
}
.text-font .medium{
    font-weight: 500;
}
h1,
h2 {
    color: red;
    font-weight: 900;
}
h2 {
    font-weight: 700;
}
h3 {
    color: green;
    font-weight: 700;
}
.search-fonts h3 ~ .text {
    color: #05248b;
}
.fonts > .text > p + p {
    color: #333333;
}

/*Тестування пріоритету*/
.priority h4 {
    color: red;
}
.priority > h4 {
    color: #bd866f;
}

/*Тестування пріоритету*/
.fonts .options.fonts-opt h4{
    color: #bd866f;
}
.fonts .options h4 {
    color: red;
}

/*Тестування пріоритету*/
.priority li span {
    color: red;
}
.attention span {
    color: blue;
}

/*Тестування пріоритету - використання !important*/
.fonts .options span {
    color: blue;
}
.options span {
    color: red !important;
}

/*Тестування пріоритету*/
.options.fonts-opt li a {
    color: red;
}
.fonts-opt .attention a {
    color: blue;
}

/*Тестування пріоритету*/
.g-fonts-rules li a {
    color: blue;
}
.google-fonts a {
    color: red;
}

/*Тестування пріоритету*/
.search-fonts > ul > li > a {
    color: green;
}
.search-fonts ul li a {
    color: blue;
}

/*Тестування пріоритету*/
.footer .top-page a {
    color: red;
}
footer .top-page a {
    color: blue;
}

/*Тестування пріоритету - сумісно з тегом style*/
header > .top-header > p > a {
    color: #bd866f;
}