/* ------------- ПІДКЛЮЧЕННЯ ШРИФТІВ ------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* ------------- ОСНОВНІ СТИЛІ ------------- */

body {
    font-family: Lato, sans-serif;
}
.wrapper {
	/* overflow: hidden; */
	position: relative;
	min-height: 100%;
}
[class*="__container"] {
    max-width: 1230px;
    margin: 0px auto;
}

.header {
    font-size: 0;
    position: fixed;
	width: 100%;
	left: 0;
	top: 0;
    z-index: 100;
    background: rgba(135, 151, 169, 0.95);
}
.menu {
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #444;
    text-align: center;
}
.menu__item {
    display: inline-block;
    position: relative;
}
.menu__item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    background: rgba(50, 50, 50, 0.9);
}
.menu__item:not(:last-child) {
    margin-right: 50px;
}
.sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
	left: 0;
    min-width: 200px;
    padding: 20px;
    background: rgba(50, 50, 50, 0.2);
    color: #fff;
    transition: all 0.8s ease 0s;
}
.sub-menu__item {
    padding: 10px;
    position: relative;
}
.sub-menu__item:hover .category {
    opacity: 1;
    visibility: visible;
    background: rgba(200, 200, 200, 0.95);
}
.category {
    position: absolute;
    opacity: 0;
    visibility: hidden;
	left: 100%;
    top: 0;
    min-width: 200px;
    padding: 20px;
    background: rgba(200, 200, 200, 0.2);
    color: #000;
    transition: all 0.8s ease 0s;
    margin-left: 20px;
}
.category__item {
    padding: 10px;
}
.experiments {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 80px;
}
.experiments__hidden-block {
    width: 100%;
    height: 101px;
    background-color: #fff;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 99;
}
.sticky__title {
    background: #444;
    padding: 30px;
    color: #fff;
    font-weight: 900;
    position: sticky;
    top: 100px;
    line-height: 1;
}
.sticky__text {
    padding: 20px 0;
}
.footer {
    background: rgba(135, 151, 169, 0.95);
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #444;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
}
.car {
    margin-bottom: 180px;
}
.car__background {
	background: url('../img/other/background.svg') 0 0 no-repeat;
	width: 1186px;
	height: 596px;
    margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
    z-index: 1;
    border: 2px solid #888;
}
.car__main {
	background: url('../img/car_cut/main.svg') 0 0 no-repeat;
	width: 1048px;
	height: 244px;
	position: absolute;
    z-index: 50;
	top: 200px;
	left: 60px;
}
.car__wheel-left {
	background: url('../img/car_cut/wheel_left.svg') 0 0 no-repeat;
	width: 161px;
	height: 161px;
	position: absolute;
    z-index: 50;
    top: 330px;
	left: 202px;
    
}
.car__wheel-right {
	background: url('../img/car_cut/wheel_right.svg') 0 0 no-repeat;
	width: 161px;
	height: 161px;
	position: absolute;
    z-index: 50;
	top: 330px;
	left: 869px;
}
.car__background:hover .car__wheel-left,
.car__background:hover .car__wheel-right {
    transform: rotate(-1440deg);
    transition: all 5s ease 0s;
}
.car__headlights {
	background: url('../img/car_cut/headlights.svg') 0 0 no-repeat;
	width: 83px;
	height: 58px;
	position: absolute;
    z-index: 60;
	top: 317px;
	left: 91px;
}
.car__front-el-1 {
	background: url('../img/car_cut/front_el_1.svg') 0 0 no-repeat;
	width: 71px;
	height: 28px;
	position: absolute;
    z-index: 60;
	top: 370px;
	left: 64px;
}
.car__front-el-2 {
	background: url('../img/car_cut/front_el_2.svg') 0 0 no-repeat;
	width: 42px;
	height: 37px;
	position: absolute;
    z-index: 60;
	top: 320px;
	left: 193px;
}
.car__front-el-3 {
	background: url('../img/car_cut/front_el_3.svg') 0 0 no-repeat;
	width: 48px;
	height: 88px;
	position: absolute;
    z-index: 60;
	top: 342px;
	left: 137px;
}
.car__front-el-4 {
	background: url('../img/car_cut/front_el_4.svg') 0 0 no-repeat;
	width: 82px;
	height: 65px;
	position: absolute;
    z-index: 40;
	top: 360px;
	left: 76px;
}
.car__front-el-5 {
	background: url('../img/car_cut/front_el_5.svg') 0 0 no-repeat;
	width: 91px;
	height: 65px;
	position: absolute;
    z-index: 30;
	top: 360px;
	left: 66px;
}
.car__sidepiece {
    background: url('../img/car_cut/sidepiece.svg') 0 0 no-repeat;
	width: 701px;
	height: 70px;
	position: absolute;
    z-index: 60;
	top: 253px;
	left: 243px;
}
.car__sidepiece-2 {
    background: url('../img/car_cut/sidepiece_2.svg') 0 0 no-repeat;
	width: 485px;
	height: 133px;
	position: absolute;
    z-index: 20;
	top: 190px;
	left: 306px;
}
.car__door {
    background: url('../img/car_cut/door.svg') 0 0 no-repeat;
	width: 371px;
	height: 217px;
	position: absolute;
    z-index: 80;
	top: 237px;
	left: 340px;
}
.car__door-2 {
    background: url('../img/car_cut/door_2.svg') 0 0 no-repeat;
	width: 427px;
	height: 117px;
	position: absolute;
    z-index: 70;
	top: 303px;
	left: 346px;
}
.car__glass {
    background: url('../img/car_cut/glass.svg') 0 0 no-repeat;
	width: 453px;
	height: 83px;
	position: absolute;
    z-index: 90;
	top: 211px;
	left: 350px;
}
.car__glass-2 {
    background: url('../img/car_cut/glass_2.svg') 0 0 no-repeat;
	width: 217px;
	height: 90px;
	position: absolute;
    z-index: 40;
	top: 208px;
	left: 283px;
}
.car__glass-3 {
    background: url('../img/car_cut/glass_3.svg') 0 0 no-repeat;
	width: 230px;
	height: 90px;
	position: absolute;
    z-index: 30;
	top: 208px;
	left: 283px;
}
.car__mirror {
    background: url('../img/car_cut/mirror.svg') 0 0 no-repeat;
	width: 67px;
	height: 61px;
	position: absolute;
    z-index: 100;
	top: 255px;
	left: 390px;
}
.car__bottom {
	background: url('../img/car_cut/bottom.svg') 0 0 no-repeat;
	width: 581px;
	height: 140px;
	position: absolute;
    z-index: 60;
	top: 305px;
	left: 374px;
}
.car__bottom-2 {
	background: url('../img/car_cut/bottom_2.svg') 0 0 no-repeat;
	width: 1050px;
	height: 73px;
	position: absolute;
    z-index: 20;
	top: 390px;
	left: 65px;
}
.car__bottom-3 {
	background: url('../img/car_cut/bottom_3.svg') 0 0 no-repeat;
	width: 901px;
	height: 169px;
	position: absolute;
    z-index: 20;
	top: 294px;
	left: 169px;
}
.car__back-el-1 {
	background: url('../img/car_cut/back_el_1.svg') 0 0 no-repeat;
	width: 143px;
	height: 23px;
	position: absolute;
    z-index: 60;
	top: 248px;
	left: 908px;
}
.car__back-el-2 {
	background: url('../img/car_cut/back_el_2.svg') 0 0 no-repeat;
	width: 59px;
	height: 19px;
	position: absolute;
    z-index: 60;
	top: 294px;
	left: 948px;
}
.car__back-el-3 {
	background: url('../img/car_cut/back_el_3.svg') 0 0 no-repeat;
	width: 67px;
	height: 77px;
	position: absolute;
    z-index: 60;
	top: 310px;
	left: 1020px;
}
.car__back-el-4 {
	background: url('../img/car_cut/back_el_4.svg') 0 0 no-repeat;
	width: 105px;
	height: 123px;
	position: absolute;
    z-index: 60;
	top: 304.7px;
	left: 1002.5px;
}
.car__back-el-5 {
	background: url('../img/car_cut/back_el_5.svg') 0 0 no-repeat;
	width: 36px;
	height: 31px;
	position: absolute;
    z-index: 40;
	top: 379px;
	left: 1077px;
}
.car__back-el-6 {
	background: url('../img/car_cut/back_el_6.svg') 0 0 no-repeat;
	width: 93px;
	height: 117px;
	position: absolute;
    z-index: 20;
	top: 271px;
	left: 1021px;
}
.car__back-headlights {
	background: url('../img/car_cut/back_headlights.svg') 0 0 no-repeat;
	width: 47px;
	height: 35px;
	position: absolute;
    z-index: 60;
	top: 278px;
	left: 1051px;
}
.car__bg-1 {
    background: url('../img/other/bg_1.svg') 0 0 no-repeat;
	width: 140px;
	height: 131px;
	position: absolute;
    z-index: 10;
	top: 259px;
	left: 56px;
}
.car__bg-2 {
    background: url('../img/other/bg_2.svg') 0 0 no-repeat;
	width: 940px;
	height: 451px;
	position: absolute;
    z-index: 10;
	top: 43px;
	left: 148px;
}
.car__road {
    background: url('../img/other/road.svg') 0 0 no-repeat;
	width: 1099px;
	height: 3px;
	position: absolute;
    z-index: 60;
	top: 495px;
	left: 50px;
}
